<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>

<script type="text/javascript">

/////////////////////////JQuery///////////////////////////////
$(document).ready(function(){ 
						   
	//show name of selected file
	$('#fileinput').change(function() {
	    var filename = $('input[type=file]').val().split('\\').pop();
	    $("#filenamefield").val(filename);
	});

	//makes sure that file size is less than 5MB, maybe keep this
  	$('#fileinput').bind('change', function() {
    	var size_in_megabytes = this.files[0].size/1024/1024;
    	if (size_in_megabytes > 5) {
      		alert('Maximum file size is 5MB. Please choose a smaller file.');
   		}
  	});

  	//client side validation, could definitely use more security
  	//for example, if a user deletes their information after clicking validate, 
  	//and then does not click validate again, form will still submit.
	$("#validatebutton").click(function() {
	  	var completeform = true
	  	//error messages
	  	var errors = 'ERRORS:' + "<br>";

		//check presence of title
	  	if ($('#titlefield').val() == ''){
	  		completeform = false;
	  		errors = errors + 'Please specify title.' + "<br>";
	  	}
	  	//check presence of author
	  	if ($('#authorfield').val() == ''){
	  		completeform = false;
	  		errors = errors + 'Please specify author.' + "<br>";
	  	}
	  	//check presence of pid
	  	if ($('#pidfield').val() == ''){
	  		completeform = false;
	  		errors = errors + 'Please specify PID.' + "<br>";
	  	}
	  	//check presence of recording information
	  	if ($('#recordingfield').val() == ''){
	  		completeform = false;
	  		errors = errors + 'Please specify recording equipment.' + "<br>";
	  	}
	  	//check presence of description
	  	if ($('#descriptionfield').val() == ''){
	  		completeform = false;
	  		errors = errors + 'Please describe the recording.' + "<br>";
	  	}
	  	//check presence of uploaded file
	  	if ($('#filenamefield').val() == ''){
	  		completeform = false;
	  		errors = errors + 'Please choose a file.' + "<br>";
	  	}
	  	//if a file is uploaded, check format
	  	else{
		  	var val = $("#filenamefield").val();

		    switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
		        case 'txt': case 'srt':
		            break;
		        default:
		            $(this).val('');
		            errors = errors + "File must be in SRT or TXT format." +"<br>";
		            completeform = false;
		            break;
		    }
	  	}

	  	//if all fields present, show convert button, otherwise deliver errors
	  	if (completeform) {
	  		$('#validatebuttondiv').attr('class', 'hidden');
	  		$('#convertbuttondiv').attr('class', 'unhidden');
	  		$('#errormessages').html('');
	  	}
	  	else{
	  		$('#errormessages').html(errors);
	  	}
	});
	
});

////////////////////JAVASCRIPT//////////////////////

//function to unhide the convert again button after conversion
function unhide(clickedButton, itemToShow, itemToHide, itemToHide2){
	var item = document.getElementById(itemToShow);
	item.className = 'unhidden';
	item = document.getElementById(itemToHide);
	item.className = 'hidden';
	item = document.getElementById(itemToHide2);
	item.className = 'hidden';
}

//function to reset form for another conversion
function resetform(clickedButton){
	document.getElementById("titlefield").value = '';
	document.getElementById("authorfield").value = '';
	document.getElementById("pidfield").value = '';
	document.getElementById("recordingfield").value = '';
	document.getElementById("descriptionfield").value = '';
	document.getElementById("fileinput").value = '';
	document.getElementById("filenamefield").value = '';
	document.getElementById("validatebuttondiv").className = 'unhidden';
	document.getElementById("convertagaindiv").className = 'hidden';
}

</script>

<h1>SRT to TEI Converter</h1>


<p id="errormessages"><p>

<!--form with three text fields, two text areas, one file upload field. -->
<%= form_for @conversion do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'textinput', id: 'titlefield' %>
	<br>
	<%= f.label :author %>
	<%= f.text_field :author, class: 'textinput', id: 'authorfield' %>
	<br>
	<%= f.label :pid, "PID"%>
	<%= f.text_field :pid, class: 'textinput', id: 'pidfield' %>
	<br>
	<%= f.label :recording, "Recording Equipment" %>
	<%= f.text_area :recording, class: 'textarea', id: 'recordingfield'%>
	<br>
	<%= f.label :description %>
	<%= f.text_area :description, class: 'textarea', id: "descriptionfield" %>
	<br>

	<!--bootstrap styled file upload field-->
	<span class="btn btn-default btn-file", id = "fileinputspan"> Select File
		<%= f.file_field :file, class: 'fileinput', id: 'fileinput' %>
	</span>
	<br>

	<!--text field to display file name, compensates for bootstrap styling-->
	<div class="filenamefielddiv">
		<input type="text" class= "textinput" id="filenamefield" placeholder="No file selected">
	</div>

	<!--validate button-->
	<div class="unhidden", id="validatebuttondiv">
		<button type="button", class="bluebutton", id="validatebutton">Validate</button>
	</div>
	<br>

	<!--convert button-->
	<div class="hidden", id="convertbuttondiv">
		<%= f.submit "Convert Now", id: "convertbutton", class: 'bluebutton', onclick:"unhide(this,'convertagaindiv', 'validatebuttondiv', 'convertbuttondiv')"%>
	</div>

	<!--convert anther file button-->
	<div class="hidden", id="convertagaindiv">
		<button class="bluebutton" id="convertagainbutton" type="button", onclick = "resetform(this)">Convert Another File</button>
	</div>
<% end %>



