<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>

<script type="text/javascript">
$(document).ready(function(){ 
						   
	// Check that Jquery is working, delete later					 
	$("div").css("border", "3px solid red");

	//show name of selected file
	$('#fileinputspan').change(function() {
	    var filename = $('input[type=file]').val().split('\\').pop();
	    $("#filenamefield").val(filename);
	});
	
});
</script>

<h1>SRT to TEI Converter</h1>


<% if @conversion.errors.any? %>
	<div class: 'errors'>
		Please fill in all fields. File must be smaller than 5MB. 
	</div>
<% end %>


<%= form_for @conversion do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'textinput' %>
	<br>
	<%= f.label :author %>
	<%= f.text_field :author, class: 'textinput' %>
	<br>
	<%= f.label :pid, "PID" %>
	<%= f.text_field :pid, class: 'textinput' %>
	<br>
	<%= f.label :recording, "Recording Equipment" %>
	<%= f.text_area :recording, class: 'textarea' %>
	<br>
	<%= f.label :description %>
	<%= f.text_area :description, class: 'textarea', id: "description" %>
	<br>
	<span class="btn btn-default btn-file", id = "fileinputspan"> Select File
		<%= f.file_field :file, class: 'fileinput', id: 'fileinput' %>
	</span>
	<br>

	<div class="filenamefielddiv">
		<input type="text" class= "textinput" id="filenamefield" placeholder="No file selected">
	</div>


	<%= f.submit "Convert Now", id: "convertbutton", class: 'convertbutton', onclick:"unhide(this,'convertagain')"%>
<% end %>

<div class="centered">
	<button class="hidden" id="convertagain" type="button" >Convert Another File</button>
</div>

